@media (max-width: 767px) {
    /* Exchange container styling */
    .exchange-container {
        margin-top: 0;
        width: 85%;
    }

    /* Menu toggle (hamburger icon) */
    .menu-toggle {
        display: block;
        cursor: pointer;
        position: relative;
    }

    .menu-toggle div {
        width: 25px;
        height: 3px;
        background-color: #fff;
        margin: 5px 0;
        transition: .4s;
    }

    /* Description text styling */
    .description-text {
        font-size: 16px;
        text-align: justify;
    }

    .trx-data-container{
        display: block;
    }

    .trx-qr-container{
        width: 95%;
        margin-bottom: 20px;
    }

    .trx-address-container{
margin: 0;
width: fit-content;
padding: 0px;
background-color:black;
border: none;
    }

    .trx-qr-code{
        width: 124px;
        height: 124px;
    }

    .trx-copy-btn{
        width: 30px;
        padding: 10px 6px;
    }

    #trx-address{
        font-size: 14px;
        letter-spacing:0px;
        width: 310px;
    }

    .container-exchange{
        width: 95%;
    }

    /* Headings */
    h2 {
        text-align: left;
        margin-bottom: 10px;
        font-size: 24px;
    }

    /* Big text box styling */
    .big-text-box {
        padding: 0;
    }

    /* Marquee container */
    .marquee-container {
        margin: 0 auto;
    }

    /* Container styles */
    .container {
        width: 90%;
    }

    .container-one {
        width: 100%;
        align-items: center;
        text-align: center;
        padding: 20px;
        box-sizing: border-box;
        height: auto;
        background: rgb(71, 0, 5);
        background: linear-gradient(177deg, rgba(71, 0, 5, 1) 0%, rgba(13, 17, 16, 1) 100%);
    }

    /* Reviews section grid for mobile */
    .reviewss {
        grid-template-columns: 1fr;
    }

    /* Input container styling */
    .inputs {
        gap: 2px;
        display: grid;
        grid-template-columns: 1fr;
    }

    .inputs div {
        display: flex;
        align-items: center;
    }

    /* Mobile navigation styles */
    #nav-menu {
		display: none;
		position: absolute;
		top: 50px;
		left: 0;
		width: 100%;
		background-color: #010409;
		padding: 10px 0;
		text-align: center;
	}

    /* Show nav menu when active */
    #nav-menu.active {
		display: block;
		animation: slideIn 0.3s ease;
	}

    /* Animation for sliding menu */
    @keyframes slideIn {
        from {
            transform: translateY(-100%);
        }
        to {
            transform: translateY(0);
        }
    }

    /* Menu links styling */
    #nav-menu a {
        display: block;
        color: white;
        text-decoration: none;
        padding: 10px;
        transition: background-color 0.3s;
		/*border-top: #3d444d 1px solid;*/
		border-radius: 0;
    }

    #nav-menu a:hover {
        background-color: #010409;
    }

    h3{
        width: 90%;
    }
    
    .give-section{
        margin-bottom: 20px;
    }
}

