@media (max-width: 1199px)
{
    .exchange-container{
        width: 85%;
    }

    #exchange hr {
        display: none;
    }
    
    .can-hide{
        display: none;
    }

    header nav {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 60px;
        background-color: #010409;
        width: 100%;
        padding: 10px;
        border-radius: 8px;
        width: auto;
        text-align: right;
        right: 0px;
    }
    
    .menu-toggle {
        display: block;
        cursor: pointer;
        position: relative;
    }

    .menu-toggle div {
        width: 25px;
        height: 3px;
        background-color: #fff;
        margin: 5px 0;
        transition: 0.4s;
    }

    .currency-box {
        padding-left: 10px; /* Add space to the left of the second box */
    }

    .tron-bg{
        display: none;
    }

    .description-text{
        font-size: 18px;
    }

    .container{
        width: 90%;
    }

    .container-one {
        width: 100%;
        align-items: center;
        text-align: center;
        padding: 20px;
        box-sizing: border-box;
        height: auto;
    }

    .container-one img {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%); /* Center the image */
    }


    
    .currency-box {
        width: 100%;
        margin-bottom: 20px; /* Add space between boxes on small screens */
    }

    .input-box-l{
        padding-left: 10px;
    }

    .input-box-l input{
        width: 100%;
    }

}
