@media (max-width:1199px) {
	.exchange-container {
		width: 85%
	}

	#exchange hr {
		display: none
	}

	.can-hide {
		display: none
	}

	header nav {
		display: none;
		flex-direction: column;
		position: absolute;
		top: 60px;
		background-color: #010409;
		width: 100%;
		padding: 10px;
		border-radius: 8px;
		width: auto;
		text-align: right;
		right: 0
	}

	.menu-toggle {
		display: block;
		cursor: pointer;
		position: relative
	}

	.menu-toggle div {
		width: 25px;
		height: 3px;
		background-color: #fff;
		margin: 5px 0;
		transition: .4s
	}

	.currency-box {
		padding-left: 10px
	}

	.tron-bg {
		display: none
	}

	.description-text {
		font-size: 18px
	}

	.container {
		width: 90%
	}

	.container-one {
		width: 100%;
		align-items: center;
		text-align: center;
		padding: 20px;
		box-sizing: border-box;
		height: auto
	}

	.container-one img {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%)
	}

	

	.inputs {
		display: grid;
		grid-template-columns: 1fr;
		gap: 15px
	}

	.inputs div {
		display: flex;
		align-items: center
	}

	.inputs label {
		margin-left: 8px
	}

	.currency-box {
		width: 100%;
		margin-bottom: 20px
	}

	.input-box-l {
		padding-left: 10px
	}

	.input-box-l input {
		width: auto
	}
}